@font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

/* 
base style
 */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
    font-size: 16px;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
p {
    margin: 0;
}
figure {
    margin: 0;
}

/* 
card
 */
.card {
    margin: 0;
    width: 384px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
}
@media (max-width: 430px) {
    .card {
        width: 327px;
    }
}
.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.content-category {
    padding: 4px 12px;
    align-self: flex-start;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}
@media (max-width: 430px) {
    .content-category {
        font-size: 12px;
    }
}
.content-date {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
@media (max-width: 430px) {
    .content-date {
        font-size: 12px;
    }
}
.content-title {
    color: hsl(0, 0%, 7%);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: none;
}
@media (max-width: 430px) {
    .content-title {
        font-size: 20px;
    }
}
.content-title:focus,
.content-title:hover {
    color: hsl(47, 88%, 63%);
}
.content-description {
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
@media (max-width: 430px) {
    .content-description {
        font-size: 14px;
    }
}
.author {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 12px;
}
.author-image {
    width: 32px;
    height: 32px;
}
.author-name {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}


/* 
footer
 */
.attribution { 
font-size: 0.6875rem; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
